<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
    <title>Muuzii Platform Manage</title>
    <% include public/common.html %>
    <style type="text/css">

        .rate{

            display: inline-block;
            width: 35px;
            font-family: Tahoma, Geneva, sans-serif;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function(){

            $(".rate").on("click", function(){
               var me = $(this);
                var cName = "bg-primary";
                if(me.hasClass(cName)){
                    me.removeClass(cName);
                }else{
                    me.addClass(cName);
                }


            });


        });

    </script>
</head>
<body>
<div class="container">
    <form  class="col-md-4 center-block">
       League:<input name="l" value="<%= l %>" type="text" /> <br />
        TeamName:<input name="t" value="<%= t %>" type="text" />
        Active:<input name="a"  value="1" <%= a ? "checked" : "" %> type="checkbox" />
        <button type="submit">Query</button>
    </form>

</div>
<div class="container">
    <div class="main-box">
        <div class="col-md-12">
            <div class="container" >
                <div class="col-md-12">
                    <button class="btn-primary btn pull-right">OK</button>
                </div>


            </div>
            <table class="table">
                <tr>
                    <th>GameName</th>
                    <th>Date</th>
                    <th>HomeTeam</th>
                    <th>VisitTeam</th>
                    <th>Score</th>
                    <th>Rate</th>
                    <th>Link</th>
                </tr>

                <% for(var i = 0; i < list.length; i++){ var item = list[i] %>


                <tr>
                    <td><%= item.data.lg %></td>
                    <td><%= item.data.pdate %></td>
                    <td><%= item.home_team && item.home_team.team_name %></td>
                    <td><%= item.visit_team && item.visit_team.team_name %></td>
                    <td><%= item.home_team && item.home_team.score || "-"%>:<%= item.visit_team && item.visit_team.score || "-" %></td>
                    <td>

                        <% for(var j = 0; j < item.rates.length; j++){ var rate =  item.rates[j] %>

                        <div class="row">

                            <div class="col-md-1 "><%= rate["name"]%></div>
                            <div class="col-md-8">
                                <span data-r="3" class="rate"><%= rate["3"]%></span>
                                <span data-r="1" class="rate"><%= rate["1"] %></span>
                                <span data-r="0" class="rate"><%= rate["0"] %></span>
                            </div>

                        </div>
                        <% } %>



                      </td>
                    <td><a href="<%= item.data.href %>" >View</a></td>

                </tr>



                <% } %>

            </table>

        </div>

    </div>
</div>
</body>
</html>