<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
    <title>Bet And Match Results Analysis</title>
    <% include public/common.html %>
    <script type="text/javascript" src="/js/select2.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css" />
    <style type="text/css">
        .rate{

            display: inline-block;
            width: 35px;
            font-family: Tahoma, Geneva, sans-serif;
        }
        .detail{

            bottom:0;

        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){

            var lgArr = {}
            $("[data-e='lg']").each(function(i){

                var item = $(this);
                var name = item.html();
                lgArr[name] = lgArr[name] || 0;
                lgArr[name]++;
            });


            var t = '<label for="lg{{number}}"><input id="lg{{number}}" m="{{name}}" type="checkbox" checked="checked" class="lg_ck">{{name}}<span class="gray">({{count}}场)</span></label>'

            var html = '<a href="javascript: void(0)" id="link161">全清</a>';
            var i = 0;
            _.each(lgArr, function(val, key){
                i++;
                var o = {name:key, count:val,number:i}
                html += Mustache.render(t, o);

            });

            $("#match_s").html(html);

            $(".lg_ck").on('click', function(){

                var name = $(this).attr("m");
                console.log("[data-lg='" + name +"']");
                if($(this).prop("checked")){
                    $("[data-lg='" + name +"']").show();
                }else{
                    $("[data-lg='" + name +"']").hide();
                }


            });

            $("#link161").on("click", function(){
                $("[data-e='match']").hide();
                $(".lg_ck").prop("checked", false);

            });

            function setBottom(){

                var top =   $(window).scrollTop();

                var height = $(window).height();
                var dHeight = $(document).height();
                //到底
                if(((top + height) + 100 > dHeight) || (dHeight - 100 < height  && top ==0)){
                    $(".detail").removeClass("fixed");
                }else{
                    $(".detail").removeClass("fixed").addClass("fixed");
                }
            }

            $(window).on("scroll", function(){
                setBottom()


            });

            $(document).on("change", function(){
                setBottom();


            });

            $("#btn_analysis").on("click", function(){

                $("form:eq(0)").attr("action","/bet/analysis.html");
                $("form:eq(0)").submit();

            });
            $("#btn_query").on("click", function(){

                $("form:eq(0)").attr("action","/");
                //$("form:eq(0)").submit();

            });


            formatDate();




            var url = "/team/all_league";
            spectoAjax({url:url, "method":"GET", success:function(data){

                console.log(typeof(data),data.length);
                var options = {data:data,create:true,searchField:"text"};
                options.tags = true;
                var l = "<%= l %>";
                if(l){
                    l = l.split(",");
                    _.each(l, function(item){
                       var html = "<option selected>" + item +"</option>"
                        $("[data-e='l']").append(html);
                    });
                }

                $("[data-e='l']").select2(options);

            }}, false);

            var l = "<%= l %>";
            var url1 = "/team/all_team?l=" + l;
            spectoAjax({url:url1, "method":"GET", success:function(data){

                var l = "<%= t %>";
                if(l){
                    l = l.split(",");
                    _.each(l, function(item){
                        var html = "<option selected>" + item +"</option>"
                        $("[data-e='team']").append(html);
                    });
                }
                console.log(typeof(data),data.length);
                var options = {data:data,create:true,searchField:"text"};
                options.tags = true;
                $("[data-e='team']").select2(options);

            }}, false);
        });

    </script>
</head>
<body>
<% include public/header.html %>
<div class="container">
    <form  class="form-horizontal center-block">

        <div class="form-group">
            <label for="inputS" class="col-md-2 control-label">StartDate</label>
            <div class="col-md-10">
                <input data-p="date-i" id="inputS" class="form-control" data-format="YYYY-MM-DD" name="s" value="<%= s %>" type="text" />
            </div>
        </div>

         <div class="form-group">
             <label for="inputE" class="col-md-2 control-label">EndDate</label>
             <div class="col-md-10">
                 <input data-p="date-i" class="form-control" data-format="YYYY-MM-DD" id="inputE"  name="e" value="<%= e %>" type="text" />
             </div>

        </div>
        <div class="form-group">

            <label for="inputL" class="col-md-2 control-label">League</label>
            <div class="col-md-10">
                <select class="col-md-12 form-control" id="inputL" data-e="l" name="l" multiple>

                </select>
            </div>

        </div>
        <div class="form-group">

            <label for="inputT" class="col-md-2 control-label">TeamName</label>
            <div class="col-md-8">
                <select class="col-md-12" id="inputT" multiple="multiple" data-e="team" name="t" value="<%= t %>" ></select>
            </div>
            <div class="col-md-2">
                Active:<input name="a"  value="1" <%= a ? "checked" : "" %> type="checkbox" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id=btn_query>Query</button>
                <button type="button" id="btn_analysis">分析</button>
            </div>

        </div>

    </form>
</div>
<div class="modal fade" id="team-select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container" >
                <div class="col-md-12">
                    <button class="btn-primary btn pull-right">OK</button>
                </div>


            </div>
            <table class="table">
                <tr>
                    <th>GameName<span class="caret"></span></th>
                    <th>Date</th>
                    <th>HomeTeam</th>
                    <th>VisitTeam</th>
                    <th>Score</th>
                    <th>Rate</th>
                    <th>Link</th>
                </tr>
                <tr>
                    <td id="match_s" colspan="7">


                    </td>
                </tr>

                <% for(var i = 0; i < list.length; i++){ var item = list[i] %>


                <tr data-e="match" data-lg="<%= item.data.lg %>" data-match-id="<%= item.game_id %>">
                    <td data-e="lg"><%= item.data.lg %></td>
                    <td data-p="date"><%= item.data.team_info.match_date %></td>
                    <td><%= item.home_team && item.home_team.team_name %>  <small class="rank"><%= item.home_team && item.home_team.rank || "-"%></small></td>
                    <td><%= item.visit_team && item.visit_team.team_name %><small class="rank"><%= item.visit_team && item.visit_team.rank || "-"%></small></td>
                    <td><%= item.home_team && item.home_team.score || "-"%>:<%= item.visit_team && item.visit_team.score || "-" %></td>
                    <td>

                        <% for(var j = 0; j < item.rates.length; j++){ var rate =  item.rates[j] %>

                        <div class="row">

                            <div class="col-md-1 "><%= rate["name"]%></div>
                            <div class="col-md-8">
                                <span data-r="3" class="rate"><%= rate["3"]%></span>
                                <span data-r="1" class="rate"><%= rate["1"] %></span>
                                <span data-r="0" class="rate"><%= rate["0"] %></span>
                            </div>

                        </div>
                        <% } %>



                    </td>
                    <td><a href="<%= item.data.href %>" >View</a></td>

                </tr>



                <% } %>

            </table>

        </div>
    </div>
    <div class="detail container fixed">
        <div id="BetBasket" class="race-basket clearfix race-basket-fixed row" data-spm="a313c">
            <div id="BetView" class="bet-view col-md-2">
                <span>已选 <em id="SelMatchCount">4</em> 场</span><br>
                <input type="checkbox" id="ViewSelMatch"><label>查看已选</label>
            </div>
            <div class="col-md-8">
                <div id="BetOption" class="bet-option">
                    <!--
                    <div class="bet-tip">
                        <span class="option-name">重要提醒：</span>
                        <span>不包含单一玩法串</span>
                        <span class="float-tip" rel="即不包含混串过关中单个玩法的串关注数，任意串最少为篮彩的两个玩法或更多，任意串为单个玩法均不支持。"></span>
                    </div>
                    -->
                    <div id="BetHint" class="bet-hint ">请至少选择<em>2</em>场比赛进行投注</div>
                    <div id="PassType" class="bet-type row hidden">
                        <span class="option-name col-md-2">自由过关：</span>
                        <ul  >
                            <li class="">
                                <input data-type="2" id="PassType2x1" type="checkbox" value="2串1"> 2串1
                            </li>
                            <li class="">
                                <input  data-type="3" id="PassType3x1" type="checkbox" value="3串1"> 3串1
                            </li>
                            <li class="">
                                <input  data-type="4"  id="PassType4x1" type="checkbox" value="4串1"> 4串1
                            </li>
                            <li class="hidden">
                                <input   data-type="5" id="PassType5x1" type="checkbox" value="5串1"> 5串1
                            </li>
                            <li class="hidden">
                                <input   data-type="6" id="PassType6x1" type="checkbox" value="6串1"> 6串1
                            </li>
                            <li class="hidden">
                                <input   data-type="7" id="PassType7x1" type="checkbox" value="7串1"> 7串1
                            </li>
                            <li class="hidden">
                                <input  data-type="8"  id="PassType8x1" type="checkbox" value="8串1"> 8串1
                            </li>
                        </ul>
                    </div>
                    <div class="bet-mul">
                	<span class="bet-multiple">
	                    <span class="option-name">方案倍数：</span>
	                    <span class="multiple-info">
	                        <button id="BetMultipleSub" class="sub hidden"></button>
	                        <input id="BetMultipleCount" type="text" value="1">
	                        <button id="BetMultipleAdd" class="add hidden"></button>
	                    </span>
	                    <span class="basket-tip">(最大<em id="BetMultipleTip">99999</em>倍)</span>
                    </span>

                    <span class="bet-award">
	                    <span class="option-name">奖金预测：</span>
	                    <span class="award-num">
	                        <em id="BetAward"></em> 元
	                    </span>
						<span id="yc-optimize">
							奖金优化<img style="position:absolute;margin:-3px 0 0 1px;*margin:-5px 0 0 1px" src="http://img04.taobaocdn.com/tps/i4/T12KCKXbRxXXXXXXXX-21-11.gif">
						</span>
                    </span>
                    </div>
                </div>
                <div id="BetStatus" class="bet-status">
                    <div class="bet-count">
                        <span class="option-name">所选注数：</span>
                    <span class="count-num">
                        <em id="BetCount">0</em> 注
                    </span>
                    </div>
                    <div class="bet-money">
                        <span class="option-name">方案金额：</span>
                    <span class="money-num">
                        <em id="BetMoney">0</em> 元
                    </span>
                    </div>
                </div>
                <div id="BetAct" class="bet-act">
                    <a id="BtnPay" class="btn-pay disabled" href="#"></a>
                    <a id="BtnGroupPay" class="btn-group-pay disabled" href="#"></a>
                    <div class="stop-sale hidden">截止投注时间：<em id="StopSaleTime">2015-04-20 23:55</em></div>
                </div>
                <div class="col-md-2 pull-right">
                    <button class="btn btn-primary" data-a="save">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>