<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
    <title>Bet And Match Results Analysis</title>
    <% include ../public/common.html %>
    <script type="text/javascript" src="/js/select2.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css" />
    <style type="text/css">
        .rate{

            display: inline-block;
            width: 35px;
            font-family: Tahoma, Geneva, sans-serif;
        }
        .detail{

            bottom:0;

        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){

            var lgArr = {}
            $("[data-e='lg']").each(function(i){

                var item = $(this);
                var name = item.html();
                lgArr[name] = lgArr[name] || 0;
                lgArr[name]++;
            });


            var t = '<label for="lg{{number}}"><input id="lg{{number}}" m="{{name}}" type="checkbox" checked="checked" class="lg_ck">{{name}}<span class="gray">({{count}}场)</span></label>'

            var html = '<a href="javascript: void(0)" id="link161">全清</a>';
            var i = 0;
            _.each(lgArr, function(val, key){
                i++;
                var o = {name:key, count:val,number:i}
                html += Mustache.render(t, o);

            });

            $("#match_s").html(html);

            $(".lg_ck").on('click', function(){

                var name = $(this).attr("m");
                console.log("[data-lg='" + name +"']");
                if($(this).prop("checked")){
                    $("[data-lg='" + name +"']").show();
                }else{
                    $("[data-lg='" + name +"']").hide();
                }


            });

            $("#link161").on("click", function(){
                $("[data-e='match']").hide();
                $(".lg_ck").prop("checked", false);

            });




            $("#btn_analysis").on("click", function(){

                $("form:eq(0)").attr("action","/bet/analysis.html");
                $("form:eq(0)").submit();

            });
            $("#btn_query").on("click", function(){

                $("form:eq(0)").attr("action","/");
                //$("form:eq(0)").submit();

            });


            formatDate();




            var url = "/team/all_league";
            spectoAjax({url:url, "method":"GET", success:function(data){

                console.log(typeof(data),data.length);
                var options = {data:data,create:true,searchField:"text"};
                options.tags = true;
                var l = "<%= l %>";
                if(l){
                    l = l.split(",");
                    _.each(l, function(item){
                        var html = "<option selected>" + item +"</option>"
                        $("[data-e='l']").append(html);
                    });
                }

                $("[data-e='l']").select2(options);

            }}, false);

            var l = "<%= l %>";
            var url1 = "/team/all_team?l=" + l;
            spectoAjax({url:url1, "method":"GET", success:function(data){

                var l = "<%= t %>";
                if(l){
                    l = l.split(",");
                    _.each(l, function(item){
                        var html = "<option selected>" + item +"</option>"
                        $("[data-e='team']").append(html);
                    });
                }
                console.log(typeof(data),data.length);
                var options = {data:data,create:true,searchField:"text"};
                options.tags = true;
                $("[data-e='team']").select2(options);

            }}, false);
        });

    </script>

</head>
<body>
<% include ../public/header.html %>
<div class="container">
    <form  class="form-horizontal center-block">

        <div class="form-group">
            <label for="inputS" class="col-md-2 control-label">StartDate</label>
            <div class="col-md-10">
                <input data-p="date-i" id="inputS" class="form-control" data-format="YYYY-MM-DD" name="s" value="<%= s %>" type="text" />
            </div>
        </div>

        <div class="form-group">
            <label for="inputE" class="col-md-2 control-label">EndDate</label>
            <div class="col-md-10">
                <input data-p="date-i" class="form-control" data-format="YYYY-MM-DD" id="inputE"  name="e" value="<%= e %>" type="text" />
            </div>

        </div>
        <div class="form-group">

            <label for="inputL" class="col-md-2 control-label">League</label>
            <div class="col-md-10">
                <select class="col-md-12 form-control" id="inputL" data-e="l" name="l" multiple>

                </select>
            </div>

        </div>
        <div class="form-group">

            <label for="inputT" class="col-md-2 control-label">TeamName</label>
            <div class="col-md-8">
                <select class="col-md-12" id="inputT" multiple="multiple" data-e="team" name="t" value="<%= t %>" ></select>

            </div>
            <div class="col-md-2">
                Active:<input name="a"  value="1" <%= a ? "checked" : "" %> type="checkbox" />
            </div>


        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit">Query</button>
                <button type="button">分析</button>
            </div>

        </div>

    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container" >
                <div class="col-md-12">
                    <button class="btn-primary btn pull-right">OK</button>
                </div>


            </div>
            <table class="table">
                <tr>
                    <th>日期</th>
                    <th>主队<span class="caret"></span></th>
                    <th>客队<span class="caret"></span></th>
                    <th>让球</th>
                    <th>培率</th>
                    <th>结果</th>
                    <th>-1胜率</th>
                    <th>-1平率</th>
                    <th>－负率</th>
                </tr>
                <tr>
                    <td id="match_s" colspan="7">


                    </td>
                </tr>

                <% for(var i = 0; i < list.length; i++){ var item = list[i] %>


                <tr data-e="match">
                    <td data-p="date"><%= item.match_date %></td>
                    <td><%= item.team_info.home_team.team_name %> (<%= item.team_info.home_team.rank %>) </td>
                    <td><%= item.team_info.visit_team.team_name %> (<%= item.team_info.visit_team.rank %>) </td>
                    <td><%= item.goal_add %></td>
                    <td><%= item.rate %></td>
                    <td><%= item.team_info.home_team.score %> : <%= item.team_info.visit_team.score %> (<%= item.result　== "0" ? "负" : item.result == 1 ? "平" : "胜" %>)</td>
                    <td><%= item.win_rate1 %></td>
                    <td><%= item.lost_rate1 %></td>
                    <td><%= item.drawn_rate1 %></td>


                </tr>



                <% } %>

            </table>

        </div>
    </div>

</div>
</body>
</html>