li {
    list-style: none;
}

.rate{

    cursor: pointer;
    background: url(http://img02.taobaocdn.com/tps/i2/T1_ic.Xb0hXXa2CLfX-2-469.png) repeat-x 0 -240px;

}

.rate.active{

    background: url(http://img02.taobaocdn.com/tps/i2/T1_ic.Xb0hXXa2CLfX-2-469.png) repeat-x 0 -280px;
    color: #fff;

}

.race-basket .multiple-info input {
    width: 40px;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    border: 1px solid #CCC;
    background: url(http://img03.taobaocdn.com/tps/i3/T1PolrXt0cXXXLX9cK-195-320.gif) no-repeat -54px -1px;
    padding: 0 5px;
    _margin-right: 4px;
}

.race-basket {
    background-color: #fef7cf;
    border: 1px solid;
    border-color: #dcc186 #dbd29d;
}

.race-basket .bet-type li {
    float: left;
    padding: 0 6px;
    cursor: pointer;
    letter-spacing: 0;
}

.login{


}

.fixed{
    position: fixed;
}


.site-nav {
    z-index: 10000;
    width: 100%;
    background: #F5F5F5;
    border-bottom: 1px solid #EEE;
}

.site-nav-bd{

    margin: 0 auto;
    width: 990px;
    height: 35px;
    background: #F5F5F5;
    -webkit-backface-visibility: hidden;
}


.border-box{

    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bet-result {
    margin-right: 3px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    text-align: center;
    color: #333;
    background: #e5e5e5;
    width:100px;
}

.high-light{

    border: 1px solid #cb4040;
    background: #b90000;
    color: #fff;
}