<div class="container site-nav">
   <div class="row site-nav-bd">
    <% if(!locals.user) { %>
       <a href="/">Home</a>
       <a href="/user/login.html">Login</a>

       <% } else {%>
         <%= user.email %> 账户余额:<%= user.amount.toFixed(2) %>
        <a href="/bet/list.html" >已投注</a>
        <a href="/user/index.html" >个人中心</a>
        <a href="/" >投注</a>
       <% } %>
   </div>
    <div class="row">
        <ul class="nav nav-pills nav-justified">

           <li role="presentation"><a href="/league/index.html">联赛</a></li>
           <li role="presentation"><a href="/cup/index.html">杯赛</a></li>
           <li role="presentation"><a href="/league/score_rank.html">积分榜</a></li>
           <li role="presentation"><a href="/league/goal_rank.html">射手榜</a></li>
           <li role="presentation"><a href="/bet/analysis.html">分析</a></li>
           <li role="presentation"><a href="/league/match_list.html">MatchList</a></li>

        </ul>
    </div>
</div>